.search {
  display: flex;
  height: 40px;
  background-color: #2b2b2d;
  width: 60%;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.search > input {
  outline: none;
  background-color: transparent;
  flex: 1;
  margin-left: 15px;
  font-size: large;
  border: none;
  color: white;
}

.search-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2d;
  width: 50px;
  height: 100%;
}

.search-logo > i {
  margin-left: 15px;
}
